@model TopScoreValidator.Domain.Entities.ValidWord

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Delete</h2>
            </div>
            <div class="card-body">
                <div class="alert alert-danger">
                    <h4>Are you sure you want to delete?</h4>
                </div>

                <dl class="row">
                    <dt class="col-sm-3">Word:</dt>
                    <dd class="col-sm-9">@Model.Value</dd>

                    <dt class="col-sm-3">Submitted:</dt>
                    <dd class="col-sm-9">@Model.CreatedAt.ToString("g")</dd>

                    <dt class="col-sm-3">ID:</dt>
                    <dd class="col-sm-9">@Model.Id</dd>
                </dl>

                <div class="text-center mt-4">
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@Model.Id" />@Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a asp-controller="Search" asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
